body {
    background-color: #592941;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
}

/* * {
    outline: 1px solid red
}  */
/* trick to see all the element's boxes */

nav {
    background-color: #498467;
    display: flex;
    justify-content: space-around;
    padding: 0 60px;
    align-items: center;
}

#hero {
    /* display: inline-block; */
    /* text-align: center; */
    width: 80%;
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;

    border: 3px solid #EEF5DB;
    border-radius: 12px;

    background-color: #498467;

    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Padding = space between the content and its border.
Margin = space outside the border, separating the element from other elements. */

.list-item {
    color: #C7EFCF;

    margin: 10px auto;
    border: 3px solid #EEF5DB;
    padding: 10px;
}

.item-name {
    font-size: 18px;
    font-weight: 600;
}

.item-type {
    font-size: 14px;
}

.status {
    max-width: 80%;
}

.add-item {
    max-width: 80%;
    display: block;
    margin: 10px auto;
    
    font-family: "Plus Jakarta Sans", sans-serif;
}